@font-face {
	font-family: Symbola;
	src: url('fonts/Symbola-basic.woff2');
}

* {
	box-sizing: border-box;
}

:root {
	font-size: 20px;
}

body {
	margin: 0;
	padding-top: 1rem;
}

#lines {
	display: flex;
	flex-direction: column;
}

#lines > * {
	display: flex;
	align-items: center;
	border: none;
	box-shadow: none;
	padding-left: 1rem;
}

#lines > .mq-focused {
	background: #f7f7f7;
	/* border-block: 0.13rem solid #EEE; */
}

.keyboard-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.3rem;
	padding: 0.3rem;
}

.keyboard-container > button {
	aspect-ratio: 1;
	border-radius: 1rem;
	border: none;
	font-size: 2rem;
	display: grid;
	place-items: center;
}

.keyboard-container > button > svg {
	width: 50%;
}